body {
    background-color: #000;
    color: #fff;
    font-size: 90%;
}

.main{
    border-radius: 20px;
    border: 1px solid #fff;
    backdrop-filter: blur(21px);
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%;
    padding-bottom: 1%;
    
}
